PAIRS = "BTC-USD,ETH-USD,SOL-USD"
DB_URL =URL_TO_DB
PJAR=path_to_spark_psql_jar_file
DB_HOST=localhost
DB_PORT=5432
DB_NAME=name_of_database
JDBC_URL=set_jdbc_url_here  #Format for postgresql db is:   jdbc:postgresql://<host>:<port>/<databaseName>

"""
You might need to set individual .env files in subdirectories,
each directory should have a .env.example with what has to be set.
"""
